@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="/Subject/Create">Create Subject</a>
    <a href="/Subject/Index">View Subjects</a>
</div>
