
@{
    ViewData["Title"] = "Create Subject";
}

<form action="/Subject/Create" method="post">
	"
<h1>Create Subject</h1>

<label>Subject name</label>
<input type="text" name="Name"/>
<br/>
<label>Lecturer name</label>
<input type="text" name="Lecturer"/>
<br/>
<label>Current mark</label>
<input type="text" name="CurrentMark"/>

<br /><button>Submit</button>

</form>