	@model List<StudyTracker.Models.StudyTask>

<h1>My Tasks</h1>

<table>
	<tr>

		<th>Name</th>
		<th>Completed</th>

	</tr>



	@foreach (var studyTask in Model)
	{
		<tr>

			<td>@studyTask.TaskName</td>
			<td>@studyTask.IsComplete</td>
	
		</tr>


	}

</table>